@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFB; /* gray-50 */
  --text: #1F2937;       /* gray-800 */
  --card: #FFFFFF;
}

.dark {
  --background: #111827; /* gray-900 */
  --text: #FFFFFF;       /* white */
  --card: #1F2937;       /* gray-800 */
}

@layer base {
    * {
        @apply transition-colors duration-300;
    }
    
        h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-text;
    }
}

@layer components {
    .btn {
        @apply px-5 py-2 rounded-lg font-medium transition-all duration-200 focus: outline-none focus:ring-2;
    }

    .btn-primary {
        @apply bg-primary text-white hover: bg-opacity-90 focus:ring-primary/50;
    }

    .card {
        @apply bg-card p-6 rounded-xl shadow-card hover:shadow-md transition-shadow duration-300;
    }
}